@font-face {
  font-family: "Biotif Regular";
  src: local("Biotif Regular"),
    url(./assets/fonts/Degarism\ Studio\ -\ Biotif-Regular.otf)
      format("truetype");
}
@font-face {
  font-family: "Biotif Bold";
  src: local("Biotif Bold"),
    url(./assets/fonts/Degarism\ Studio\ -\ Biotif-Bold.otf) format("truetype");
}
@font-face {
  font-family: "Biotif Medium";
  src: local("Biotif Medium"),
    url(./assets/fonts/Degarism\ Studio\ -\ Biotif-Medium.otf)
      format("truetype");
}
